<div>
    <p></p>
    <h3>Регистрация</h3>
    <p></p>
    <form>
        <label>Имя
            <input class="form-control" type="text" placeholder="Имя" ng-click="cleanResponse()" ng-model="userDto.firstname">
        </label>
        <label>Фамилия
            <input class="form-control" type="text" placeholder="Фамилия" ng-model="userDto.lastname">
        </label>
        <label>Ник
            <input class="form-control" type="text" placeholder="Ник" ng-model="userDto.username">
        </label>
        <p></p>
        <label>Почта
            <input class="form-control" type="text" placeholder="Почта" ng-model="userDto.email">
        </label>
        <label>Телефон
            <input class="form-control" type="text" placeholder="Телефон" ng-model="userDto.phone">
        </label>
        <p></p>
        <label for="password">Пароль</label><input class="form-control" type="password" name="password" id="password" placeholder="Пароль"/>
        <p></p>
        <label for="confirm_password">Подтверждение пароля</label><input class="form-control" type="password" name="confirm_password" id="confirm_password" placeholder="Подтвердите пароль" ng-model="userDto.password" ng-change="checkPassword()"/>
        <span id="message"></span>
        <span id="response"></span>
        <p></p>
    </form>

    <button class="btn btn-primary" ng-click="registerUser()" ng-show="checkPassword()">Регистрация</button>

    <div ng-show="isRegister">
        <p>На указанную вами при регистрации почту
            выслано письмо с кодом подтверждения.
            Для продолжения введите полученный код:</p>
        <p></p>
        <form novalidate>
            <input class="form-control" type="text" placeholder="Введите код" ng-model="stringResponseRequestDto.value">
        </form>
        <button class="btn btn-primary" ng-click="confirmRegistration()">Подтвердить</button>
    </div>
</div>