<div>
    <p></p>
    <h3>Продукт</h3>
    <p></p>

    <div class="row g-2">
        <div class="col-6 col-md-2">
            <!--         Сбоку-->
        </div>
        <div class="col-sm-6 col-md-10">
            <!--       По центру-->
            <form>
                <label>Название продукта
                    <input class="form-control" type="text" value="productDto.title" ng-model="productDto.title"
                           ng-click="cleanResponse()">
                </label>
                <label>Цена
                    <input class="form-control" type="text" value="productDto.price" ng-model="productDto.price"
                           ng-click="cleanResponse()">
                </label>
                <label>Категории
                    <div ng-repeat="c in categoriesSet">
                        <label><input type="checkbox" id="{{c.title}}" ng-click="addCategory(c.title)"></label>
                        {{c.title}}
                    </div>
                </label>
                <p></p>
                <span id="response"></span>
                <span id="message"></span>
                <p></p>
                <button class="btn btn-primary" ng-click="setProductDto()">Редактировать продукт</button>
            </form>
        </div>
    </div>
</div>