<div>
    <p></p>
    <h3>Продукт</h3>
    <p></p>

    <div class="row g-2">
        <div class="col-6 col-md-2">
            <!--         Сбоку-->
        </div>
        <div class="col-sm-6 col-md-10">
            <!--       По центру-->
            <form>
                <label>Название продукта
                    <input class="form-control" type="text" value="productDto.title" ng-model="productDto.title"
                           ng-click="cleanResponse()">
                </label>
                <label>Цена
                    <input class="form-control" type="text" value="productDto.price" ng-model="productDto.price"
                           ng-click="cleanResponse()">
                </label>
                <label>Категории
                    <select class="form-control" ng-model="productCategory"
                            ng-options="c.title for c in categoriesSet">
                    </select>
                </label>
                <p></p>
                <span id="errors" ng-repeat="error in errors">
                          {{error.defaultMessage}}
                          <br>
                </span>
                <span id="updateProductResponse"></span>
                <p></p>
                <button class="btn btn-primary" ng-click="setProductDto()">Редактировать продукт</button>
            </form>
        </div>
    </div>
</div>